@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

    nav {
    font-family: 'Poppins', sans-serif;
    }

    .navbar-custom {
        background-color: #2bb15e;
        color: #fff;
    }

    .navbar-brand {
        background-color: #141618;
        color: #fff;
    }

    .navbar-custom .nav > li > a {
        color: #fff;
        background-color: #2bb15e;
    }

    .navbar-custom .nav > li.active > a,
    .navbar-custom .nav > li > a:hover {
        color: #fff;
        background-color: #141618;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #2bb15e;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        color: #fff;
        padding: 10px;
        display: block;
        text-decoration: none;
    }

    .dropdown-content a:hover {
        background-color: #141618;
        color: #fff;
    }